* {
  margin: 0;
  padding: 0;
  list-style: none;
  block-size: border-box;
}
body,
html,
.wrap {
  width: 100%;
  height: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 1.30666667rem;
  background: red;
  display: flex;
  justify-content: space-around;
}
section {
  flex: 1;
  overflow-y: scroll;
  overflow: hidden;
}
section .nav {
  width: 100%;
  height: 1.30666667rem;
  line-height: 1.30666667rem;
}
section .nav ul {
  display: flex;
  justify-content: space-around;
}
footer {
  width: 100%;
  height: 1.30666667rem;
  background: red;
}
